common --cxxopt=-std=c++20 --enable_platform_specific_config # --symlink_prefix=./zbuild/

# Prevent Bazel from detecting the system's C++ toolchain.
build:linux --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:linux --incompatible_strict_action_env=true
build:linux --noincompatible_sandbox_hermetic_tmp
# Enable the CC toolchain resolution based on platforms.
build:linux --incompatible_enable_cc_toolchain_resolution


# Define a debug build configuration
build:debug --compilation_mode=dbg
build:debug --copt=-DDEBUG
# Define a release build configuration with debug info
build:releasewithdebug --compilation_mode=opt
build:releasewithdebug --copt=-DNDEBUG
build:releasewithdebug --copt=-g  # Add debug symbols
build:releasewithdebug --copt=-O3  # Enable high optimization level


# Define a release build configuration
build:release --compilation_mode=opt
build:release --copt=-DNDEBUG
